.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer';
    gap: 15px;
    background-color: aqua;
    padding: 5px;
}
.grid-container > div {
    background-color: aliceblue;
    text-align: center;
    font-size: large;
}
#item1 {
    grid-area: header;
    height: 50px;
}
#item2 {
    grid-area: main;
    height: auto;
}
#item3 {
    grid-area: footer;
    height: 20px;
}