.grid-container {
    display: grid;
    grid-template-areas: 
    'header header main main footer footer';
    gap: 15px;
    background-color: aqua;
    padding: 5px;
}
#item1 {
    grid-area: header;
}
#item2 {
    grid-area: main;
}
#item3 {
    grid-area: footer;
}