.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer';
    gap: 15px;
    background-color: aqua;
    padding: 5px;
}
.grid-container > div {
    background-color: aliceblue;
    text-align: center;
    font-size: large;
}
#item1 {
    grid-area: header;
    height: 50px;
}
#item2 {
    grid-area: main;
    height: auto;
}
#item3 {
    grid-area: footer;
    height: 200px;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color:brown;
}
.container > div {
    background-color: aliceblue;
    border: 2px solid orange;
}
.col-md {
    flex: 1 1 auto;
}
#one {
    flex: 2 0 auto;
    height: 40px
}
#two {
    flex: auto;
    height: auto;
}
#three {
    flex: 4 1 auto;
    height: 200px;
}